body {
      width: 100%;
      padding: 10px 20px;
      background-image: url('../images/juegoBackground.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

#webcam-container {
      position: absolute;
      top: 20px;
      right: 218px;
}

#webcam-container>canvas {
      border-radius: 15px;
      border: 5px solid red;
}

#label-container {
      position: absolute;
      top: 335px;
      right: 225px;
      font-size: 18px;
}

#reiniciarJuego {
      position: absolute;
      top: 395px;
      right: 300px;
}

#instrucciones {
      width: 30%;
      position: absolute;
      bottom: 25px;
      right: 130px;
}

.juego {
      position: absolute;
      top: 20px;
      left: 50px;
}

#canv {
      background-color: lightblue;
}

#showScore {
      position: absolute;
      top: 30px;
      left: 270px;
      font-size: 50px;
}

#creditos {
      position: absolute;
      bottom: 100px;
      left: 50px;
}